@{
    ViewData["Title"] = "Dashboard";
}

@*<div class="container-fluid">
    <div id="chart_div"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(LoadData);
        function LoadData() {
            $.ajax({
                url: '/Admin/Charts/PopulationChart',
                dataType: "json",
                type: "GET",
                error: function(xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function(data) {
                    PopulationChart(data);
                    return false;
                }
            });
            return false;
        }

        function PopulationChart(data) {
            var dataArray = [
                ['Topping', 'Slices']
            ];
            $.each(data, function(i, item) {
                dataArray.push([item["topping"], item["slices"]]);
            });

            var data = google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: "How Much Pizza 1 Ate Last Night",
                'width': 800,
                'height': 600
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            return false;
        }
    </script>
</div>*@

<div class="container-fluid">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(LoadData);
        function LoadData() {
            $.ajax({
                url: '/Admin/Charts/ThongKeSanPham',
                dataType: "json",
                type: "GET",
                error: function(xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function(data) {
                    VeBieuDo(data);
                    return false;
                }
            });
            return false;
        }

        function VeBieuDo(data) {
            var dataArray = [
                ['TenTheLoai', 'SoLuongSanPham']
            ];
            $.each(data, function(i, item) {
                dataArray.push([item["tenTheLoai"], item["soLuongSanPham"]]);
            });

            var myData =new google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: 'Số lượng Sản Phẩm theo Thể Loại',
                'width': 800,
                'height': 600,
                'legend': 'none'
            };
            var chart = new google.visualization.BarChart(document.getElementById('myChart'));
            chart.draw(myData, options);
            return false;
        }
    </script>
</div>
<div class="container-fluid lead">
    <div id="myChart"style="width:800px; height:600px;" ></div>
</div>
