@model QLBikeStores.Models.LoginSignUpViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5">
            <form method="post" asp-action="Login">
                <div class="text-center">
                    <a class="text-light btn btn-primary font-weight-bold" asp-action="SignUp" asp-controller="Account">Sign Up</a>
                </div>
                <h6 class="text-success text-center">@TempData["successMessage"]</h6>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" placeholder="Enter username" class="form-control" autocomplete="off" />
                    <span class="text-danger">@TempData["errorUsername"]</span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input id="password" type="password" asp-for="Password" placeholder="Enter password" class="form-control" autocomplete="off" />
                    <span class="text-danger">@TempData["errorPassword"]</span>
                    <i id="open" class="fa fa-eye float-right" style="margin-top:-25px; margin-right:6px; cursor:pointer"></i>
                    <i id="closed" class="fa fa-eye-slash float-right" style="margin-top:-25px; margin-right:6px; cursor:pointer; display:none"></i>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="isRemember" />
                    <label asp-for="isRemember"></label>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary mb-2" value="Log In" />
                </div>
            </form>
            <div class="text-center">
                <a class="text-primary" asp-action="ForgotPassword">Forgot Password?</a>
            </div>
            <hr class="my-4">
            @*<a asp-action="GoogleLogin" asp-controller="Account" class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" role="button"><i class="fab fa-google me-2"></i> Sign in with google</a>*@

            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                    type="submit"><a  asp-action="Login" asp-controller="Home" style="color:white"><i class="fab fa-google me-2"></i> Sign in with google</a>
            </button>        
            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                    type="submit">
                <a  asp-action="FacebookLogin" asp-controller="Account" style="color:white"><i class="fab fa-facebook-f me-2"></i> Sign in with facebook</a>
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#open").click(function() {
            $("#open").hide();
            $("#closed").show();
            $("#password").attr("type", "text");
        });
        $("#closed").click(function() {
            $("#closed").hide();
            $("#open").show();
            $("#password").attr("type", "password");
        });
    });
</script>