
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<h1>Thanh toán thành công</h1>
<p><a asp-controller="Product" asp-action="ListProduct">Tiếp tục mua hàng</a></p>
