
<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index">Home Page</a></li>
        <li class="dropdown">
            <a asp-controller="Home" asp-action="listProduct"><span>Bicycle</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                @foreach (MenuViewModel item in Model)
                {
                    <li class="dropdown">
                        <a href="#"><span>@item.CategoryName</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                            @foreach (Brand brand in item.Brands)
                            {
                                <li><a href="#">@brand.BrandName</a></li>
                                @*@Html.ActionLink(brand.BrandName,"List","Home",new{@brandId=brand.BrandId},null)*@
                            }
                        </ul>
                    </li>
                }


            </ul>
        </li>
        <li><a class="nav-link scrollto" href="#about">About US</a></li>
        <li><a class="nav-link scrollto" href="#store">Store</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        <partial name="_LoginPartial" />
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
