@{
    ViewData["Title"] = "DanhSachSanPhamAjax";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>DanhSachSanPhamAjax</h1>
<script>
    $.ajax({
        method: "post",
        url: "https://localhost:44306/api/Product/DocDanhSachSanPham",
        success: function(response) {
            console.log(response);
        }
    });
</script>
