
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    h1,h4 {
  text-align: center;
}
</style>
<div class="row">
    <div class=" bg-danger"><h1> PureCycles </h1>
        <h4> Bicycles/Children Bicycles/PureCycles </h4></div>
    
        @foreach (var item in Model)
        {            
            <div class="col-md-3 col-sm-6">
                @*<a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
        <img src=@Url.Content("~/HinhanhSP/"+item.Anhbia) class="img-responsive" alt="" width="400" height="400" />
        </a>*@
                <center>
                    <h3>@item.ProductName</h3>
                    <h3 style="color:red">Price: $@item.ListPrice</h3>
                </center>

            </div>
        }
</div>